<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349583443724-12n6cem3jhomqqiu59ncjn0sho9386at.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349583443724-12n6cem3jhomqqiu59ncjn0sho9386at</string>
	<key>API_KEY</key>
	<string>AIzaSyD2phI5FLOUnSQTzUAWpxqjfTI6Z1MD8VQ</string>
	<key>GCM_SENDER_ID</key>
	<string>349583443724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodOrderApp</string>
	<key>PROJECT_ID</key>
	<string>order-app-firebase-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>order-app-firebase-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349583443724:ios:92dd8709e746d71b90eb29</string>
</dict>
</plist>